<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExemploPrj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExemploServlet</display-name>
    <servlet-name>ExemploServlet</servlet-name>
    <servlet-class>ExemploServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>maximo</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>minimo</param-name>
      <param-value>0</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExemploServlet</servlet-name>
    <url-pattern>/ex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestruidorServlet</display-name>
    <servlet-name>DestruidorServlet</servlet-name>
    <servlet-class>DestruidorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestruidorServlet</servlet-name>
    <url-pattern>/destroi</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>MyListener</listener-class>
  </listener>
  <listener>
    <listener-class>OutroListener</listener-class>
  </listener>
  <listener>
    <listener-class>InicializaçãoListener</listener-class>
  </listener>
  <listener>
    <listener-class>AtributoListener</listener-class>
  </listener>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>MyFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>parametro1</param-name>
      <param-value>1</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <servlet-name>ExemploServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RodapeServlet</display-name>
    <servlet-name>RodapeServlet</servlet-name>
    <servlet-class>RodapeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RodapeServlet</servlet-name>
    <url-pattern>/rodape</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet</display-name>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendredirectServlet</display-name>
    <servlet-name>SendredirectServlet</servlet-name>
    <servlet-class>SendredirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendredirectServlet</servlet-name>
    <url-pattern>/sendredirect</url-pattern>
  </servlet-mapping>
</web-app>