<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab07</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAluno</display-name>
    <servlet-name>ServletAluno</servlet-name>
    <servlet-class>ServletAluno</servlet-class>
    <init-param>
      <description></description>
      <param-name>init</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAluno</servlet-name>
    <url-pattern>/aluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMateria</display-name>
    <servlet-name>ServletMateria</servlet-name>
    <servlet-class>ServletMateria</servlet-class>
    <init-param>
      <description></description>
      <param-name>init</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMateria</servlet-name>
    <url-pattern>/materia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMatricula</display-name>
    <servlet-name>ServletMatricula</servlet-name>
    <servlet-class>ServletMatricula</servlet-class>
    <init-param>
      <description></description>
      <param-name>init</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMatricula</servlet-name>
    <url-pattern>/matricula</url-pattern>
  </servlet-mapping>

	<resource-ref>
		<description>HSQL Datasource</description>
		<res-ref-name>jdbc/xdb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>