<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProvaAntigaPrj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Indicadors</display-name>
    <servlet-name>Indicadors</servlet-name>
    <servlet-class>Indicadors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indicadors</servlet-name>
    <url-pattern>/Indicadors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndicadoresServlet</display-name>
    <servlet-name>IndicadoresServlet</servlet-name>
    <servlet-class>IndicadoresServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>tipocalculo</param-name>
      <param-value>moderno</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndicadoresServlet</servlet-name>
    <url-pattern>/indicadores</url-pattern>
  </servlet-mapping>
</web-app>